@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$secundario;
    padding-top: v.$separacion;
    

    &__grid{
        @include m.tablet { 
            @include m.grid(3, 1fr);
        }
    }

    &__widget{
        margin-bottom: v.$separacion;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__heading{
        margin: 0;
        text-align: center;
        color: v.$blanco;

        @include m.tablet { 
            text-align: left;
        }
    }

    &__nav{        
        display: flex;
        flex-direction: column;        
    }

    &__nav,
    &__texto{
        margin-top: 2rem;
    }

    &__link,
    &__texto{
        font-size: 2rem;
        line-height: 1.8;
        color: v.$blanco;
        text-align: center;

        @include m.tablet { 
            text-align: left;
        }
    }

    &__copyright{
        text-align: center;
        background-color: v.$primario;
        margin: 0; //Para que abajo no haya blanco debajo de la pagina
        padding: 2rem;
        color: v.$blanco;
    }
    
}